body{
    font-family: 'Roboto';
}

a:hover{
    text-decoration: none;
}

.topbar{
    background-color: #B5AA9D;
}

.text-main{
    color: #4E5166;
    text-decoration: none;
}


#nav {
    padding: 0; margin: 0;
}
#nav li {
    display: inline;
    list-style: none; /* nécessaire pour IE7 */
}
