{%  extends 'base.html.twig' %}

{% block body %}
    <form method="post">
        <label for="username">{{ "Username"|trans }}:</label>
        <input class="form-control" type="text" name="_username" id="username">
        <label for="password">{{ "Password"|trans }}:</label>
        <input class="form-control" type="password" id="password" name="_password">
        <button class="btn btn-primary mt-2 mb-2" type="submit">{{ "Login"|trans }}</button>
    </form>
{% endblock %}