{%  extends 'base.html.twig' %}

{% block body %}
    {{ form_start(registerForm) }}
    {{ form_widget(registerForm) }}
    <button class="btn btn-primary mb-2" type="submit">{{"Register !"|trans}}</button>
    {{ form_end(registerForm) }}
{% endblock %}